@use 'sass:math';

@mixin x($wd, $ht, $dp) {
  height: $dp;
  width: $ht;
  transform: rotateX(-90deg) translateZ(#{$wd - $dp});
}

@mixin y($wd, $ht, $dp) {
  height: $wd;
  width: $dp;
  transform: rotateY(90deg) translateZ(#{$ht - $dp});
}

@mixin z($wd, $ht, $dp) {
  height: $wd;
  width: $ht;
  transform: translateZ($dp);
}

@mixin cube($wd, $ht, $dp) {
  .cubex {
    @include x($wd, $ht, $dp);
    transform-style: preserve-3d;
    transform-origin: bottom;
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
  }

  .cubey {
    @include y($wd, $ht, $dp);
    transform-style: preserve-3d;
    transform-origin: right;
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: black;
  }

  .cubez {
    @include z($wd, $ht, $dp);
    transform-style: preserve-3d;
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
  }
}
