---
---

<!DOCTYPE html>
<html lang='he' dir='rtl'>
  <head>
    <meta charset='utf-8' />
    <title>הודעה בענייני תכנון ובניה</title>
    <meta
      name='description'
      content='הודעה בדבר הפקדת תכנית מפורטת בסמכות הועדה המקומית'
    />
  </head>
  <body>
    <h1 class='justified2'>הודעה בענייני תכנון ובניה</h1>
    <main>
      <div>
        <h2 class='justified2'>
          חוק התכנון והבניה, התשכ״ה - 1965 מרחב תכנון מקומי דן פישגולד<br />
          הודעה בדבר הפקדת תכנית מפורטת בסמכות הועדה המקומית
        </h2>
        <p class='justified'>
          ניתנת בזאת הודעה, בהתאם לסעיף 89 לחוק התכנון והבניה, התשכ״ה - 1965,
          בדבר הפקדת תכנית מספר <strong>danfishgold/dan-city/8</strong> - ״<strong
            >אתר בית חדש</strong
          >״ בסמכות הועדה המקומית.
        </p>
        <h3>תחום התכנית:</h3>
        <p>גוש dan.city חלקות index.html, style.css, index.js</p>
        <h3>מטרת התכנית:</h3>
        <p>
          הקמת מרחב הכולל שימושים מעורבים לפרוייקטים, רשומות ותמונות בתחום
          העירוניות לרבות שאינם בתחום העירוניות, וכן הסדרת שינוי שיטת השידור
          ממאגד התכניות ״וויט״ למחולל האתרים הסטטיים&nbsp;״אסטרו״.
        </p>
        <h3>עיקרי הוראות התכנית:</h3>
        <ol>
          <li>
            שינוי ייעוד הקרקע ממגרשים בייעוד ״פרוייקט קטן ב css״ ל-״אתר בית״.
          </li>
          <li>קביעת שיטת השידור באמצעות מחולל האתרים ״אסטרו״.</li>
          <li>קביעת גובה מירבי לבינוי הטיפוסי בעמוד הראשי עד 18em.</li>
          <li>שינוי בקווי בנין.</li>
          <li>קביעת הוראות עיצוביות.</li>
          <li>קביעת גופנים מועדפים לכותרות ממשפחת תל אביב.</li>
          <li>קביעת זיקות הנאה למשתמשי מובייל.</li>
        </ol>
        <p class='justified objections'>
          כל המעונין רשאי לעיין בתכנית בימים ובשעות שהמשרדים האמורים פתוחים
          לקהל. כל המעוניין בקרקע, בבנין או בכל פרט תכנוני אחר הרואה את עצמו
          נפגע על ידי התכנית, וכן כל הזכאי לכך על פי סעיף 100 לחוק, רשאי להגיש
          התנגדות בעמוד בקשת המשיכה האמורה, תוך שבועיים מיום פרסום הודעה זו
          במסטודון.<br />בהתאם לסעיף 103 (א) לחוק, התנגדות לתכנית לא תתקבל ולא
          תידון אלא אם כן הוגשה בכתב בפירוט הנמקות ובליווי תצהיר המאמת את
          העובדות שעליהן היא מסתמכת ובהתאם לתקנות התכנון והבניה (סדרי נוהל
          בהתנגדויות לתכנית סמכויות חוקר וסדרי עבודתו), תשמ״ט - 1989.
        </p>
        <p class='signature'>דן פישגולד, סמנכ״ל פיתוח ומ״מ ראש אגף גאגים</p>
      </div>
    </main>
    <footer>
      <p>
        השלט הוצב עבור <strong>דן פישגולד</strong>. פרטי מציב השלט: דן פישגולד,
        אני לא הולך לשים פה את מספר הטלפון שלי
      </p>
      <p>
        שלט זה הוצב ביום: <time
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30/01/2023&nbsp;&nbsp;&nbsp;&nbsp;</time
        >. שלט זה יוסר ביום: <time
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14/02/2023&nbsp;&nbsp;</time
        >
      </p>
      <p class='dont-take-down'><strong>נא לא להסיר את השלט.</strong></p>
    </footer>
  </body>
</html>

<style lang='scss' is:global>
  @import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap');

  body {
    font-family: 'David Libre', David, serif;
    width: 1400px;
    margin: 0;
    padding: 20px;
  }

  h1 {
    font-size: 96px;
    margin: 0 50px;
    letter-spacing: 10px;
  }

  main {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 15px;

    > div {
      border: 2px solid gray;
      border-radius: 15px;
      padding: 30px;
      padding-bottom: 0;
    }
  }

  h2 {
    font-size: 48px;
    margin: 0;
  }

  p {
    font-size: 32px;
    line-height: 1.1;
    margin: 8px 0;
  }

  h3 {
    font-size: 32px;
    margin: 40px 0 8px;
  }

  ol {
    font-size: 32px;
    margin: 8px 0;
    line-height: 1.1;
  }

  .objections {
    margin-top: 48px;
  }

  .signature {
    font-weight: bold;
    font-size: 48px;
    text-align: end;
  }

  .justified,
  .justified2 {
    text-align: justify;
  }

  .justified2 {
    text-align-last: justify;
  }

  a,
  a:visited {
    color: black;
  }

  footer {
    border: 3px solid black;
    margin-top: 20px;
    text-align: center;
    time {
      text-decoration: underline;
    }
  }

  .dont-take-down {
    font-size: 48px;
  }
</style>
