@font-face {
  font-family: 'Brutalist';
  font-weight: noraml;
  src: url('/TelAviv-BrutalistRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Brutalist';
  font-weight: bold;
  src: url('/TelAviv-BrutalistBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Brutalist';
  font-weight: 300;
  src: url('/TelAviv-BrutalistLight.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Brutalist', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: lightsalmon;
  min-height: calc(100vh + 7 * 1.5em - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#transformed {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  flex-grow: 1;
  flex-shrink: 0;

  header {
    padding-top: 6rem;
    margin: 7rem 0 4rem;
    text-align: center;

    h1 {
      font-size: 5rem;
      font-weight: 900;
      color: crimson;
      margin: 0;
      transform: translateZ(-1000rem);
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 0;
    }
  }

  #city {
    transform: translateY(calc(var(--rotate-factor) * -30px))
      rotateX(calc(var(--rotate-factor) * 75deg))
      scale(calc(1 + var(--scale-factor) * 0.15)) rotateZ(45deg);
    transform-style: preserve-3d;

    font-size: 3vw;

    @media (min-width: 450px) {
      font-size: 2vw;
    }

    @media (min-width: 800px) {
      font-size: 1.5vw;
    }

    @media (min-width: 1200px) {
      font-size: 1.25vw;
    }

    .box {
      position: absolute;
      transform-style: preserve-3d;
      background-color: white;
      top: var(--box-top);
      left: var(--box-left);
      width: var(--box-width);
      height: var(--box-height);
      transform: translateZ(var(--box-depth));

      &:before {
        top: 0;
        left: 0;
        width: var(--box-width);
        height: var(--box-depth);
        transform: translateZ(calc(-1 * var(--box-depth))) rotateX(-90deg)
          translateZ(calc(var(--box-height) - var(--box-depth)));
        content: '';
        position: absolute;
        transform-style: preserve-3d;
        background-color: pink;
        transform-origin: bottom;
      }

      &:after {
        top: 0;
        left: 0;
        width: var(--box-depth);
        height: var(--box-height);
        transform: translateZ(calc(-1 * var(--box-depth))) rotateY(90deg)
          translateZ(calc(var(--box-width) - var(--box-depth)));
        content: '';
        position: absolute;
        transform-style: preserve-3d;
        background-color: black;
        transform-origin: right;
      }
    }

    .flat {
      top: var(--flat-top);
      left: var(--flat-left);
      width: var(--flat-width);
      height: var(--flat-height);
      position: absolute;
      background-color: paleturquoise;
    }
  }
}

footer {
  color: black;
  font-size: 1.2rem;
  max-width: 90%;
  width: 600px;
  margin-bottom: calc(1em + env(safe-area-inset-bottom));
  text-align: left;

  a {
    color: black;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      color: midnightblue;
    }

    &:focus {
      color: midnightblue;
      background: paleturquoise;
      outline: 0;
    }
  }
}
