@font-face {
  font-family: 'Brutalist';
  font-weight: noraml;
  src: url('/TelAviv-BrutalistRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Brutalist';
  font-weight: bold;
  src: url('/TelAviv-BrutalistBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Brutalist';
  font-weight: 300;
  src: url('/TelAviv-BrutalistLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Modernist';
  font-weight: noraml;
  src: url('/TelAviv-ModernistRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Modernist';
  font-weight: bold;
  src: url('/TelAviv-ModernistBold.ttf') format('truetype');
}

:root {
  --building-right-color: black;
  --building-top-color: white;
  --flat-building-color: rgb(185, 255, 239);
  --building-left-color: rgb(255, 130, 84);
  --background-color: rgb(255, 236, 227);
  --title-color: rgb(225, 0, 36);

  --title-font: Brutalist, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  @supports (color: lch(0% 0 0)) {
    --flat-building-color: lch(95% 25 180);
    --building-left-color: lch(70% 70 45);
    --background-color: lch(95% 10 45);
    --title-color: lch(45% 95 30);
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#transformed {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 2rem;
  flex-grow: 1;
  flex-shrink: 0;

  header {
    font-family: var(--title-font);
    padding-top: 5rem;
    margin-top: 8rem;
    text-align: center;
    position: relative;
    width: 95%;

    h1 {
      font-size: min(7rem, 20vw);
      font-weight: 900;
      color: var(--title-color);
      margin: 0;
      transform: translateZ(-1000rem);
    }

    p {
      position: absolute;
      top: 100%;
      width: 100%;
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 0;
      text-align: center;
    }
  }

  #city {
    @media (prefers-reduced-motion) {
      --rotate-factor: 1;
      --scale-factor: -1;
    }

    transform: translateY(calc(var(--rotate-factor) * -2em))
      rotateX(calc(var(--rotate-factor) * 75deg))
      scale(calc(1 + var(--scale-factor) * 0.15)) rotateZ(45deg);
    transform-style: preserve-3d;

    font-size: min(3vw, 20px);
    margin-top: calc(1rem + 9em);

    .box {
      background-color: var(--building-top-color);
      position: absolute;
      top: var(--box-top);
      left: var(--box-left);
      width: var(--box-width);
      height: var(--box-height);
      transform: translateZ(var(--box-depth));
      transform-style: preserve-3d;

      &:before {
        content: '';
        background-color: var(--building-left-color);
        position: absolute;
        top: 0;
        left: 0;
        width: var(--box-width);
        height: var(--box-depth);
        transform: translateZ(calc(-1 * var(--box-depth))) rotateX(-90deg)
          translateZ(calc(var(--box-height) - var(--box-depth)));
        transform-style: preserve-3d;
        transform-origin: bottom;
      }

      &:after {
        content: '';
        background-color: var(--building-right-color);
        position: absolute;
        top: 0;
        left: 0;
        width: var(--box-depth);
        height: var(--box-height);
        transform: translateZ(calc(-1 * var(--box-depth))) rotateY(90deg)
          translateZ(calc(var(--box-width) - var(--box-depth)));
        transform-style: preserve-3d;
        transform-origin: right;
      }
    }

    .flat {
      background-color: var(--flat-building-color);
      position: absolute;
      top: var(--flat-top);
      left: var(--flat-left);
      width: var(--flat-width);
      height: var(--flat-height);
    }
  }
}

main,
footer {
  max-width: 90%;
  width: 700px;
}

h2 {
  font-family: var(--title-font);
  margin-bottom: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  .project {
    --depth: 5px;
    --scale: 1;
    text-decoration: none;
    color: black;
    background: var(--building-top-color);
    padding: 1rem;
    transition: transform 0.25s;
    position: relative;

    @media (hover: hover) {
      &:hover {
        --scale: 2;
        transform: translate(calc(-1 * var(--depth)), var(--depth));
      }
    }

    &:focus {
      outline: none;
      --scale: 2;
      transform: translate(calc(-1 * var(--depth)), var(--depth));
    }

    &:before {
      content: '';
      position: absolute;
      top: calc(-1 * var(--depth));
      height: var(--depth);
      left: 0;
      width: 100%;
      background: var(--title-color);
      transform: skewX(-45deg) scaleY(var(--scale));
      transform-origin: 0 100%;
      transition: transform 0.25s;
    }

    &:after {
      content: '';
      position: absolute;
      right: calc(-1 * var(--depth));
      width: var(--depth);
      top: 0;
      height: 100%;
      background: var(--building-right-color);
      transform: skewY(-45deg) scaleX(var(--scale));
      transform-origin: 0 0;
      transition: transform 0.25s;
    }

    &[data-columns='1'] {
      grid-column: span 1;
    }

    &[data-columns='2'] {
      grid-column: span 2;
    }

    &[data-columns='3'] {
      grid-column: span 3;
    }

    &[data-columns='4'] {
      grid-column: span 4;
    }

    &[data-columns='5'] {
      grid-column: span 5;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;

    .project[data-columns] {
      grid-column: unset;
    }
  }
}

footer {
  color: black;
  margin-top: 1rem;
  margin-bottom: calc(1rem + env(safe-area-inset-bottom));
  text-align: left;

  a {
    color: black;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      color: midnightblue;
    }

    &:focus {
      color: midnightblue;
      background: var(--flat-building-color);
      outline: 0;
    }
  }
}
