---
import Default from "./Default.astro";
const { title, time } = Astro.props.frontmatter || Astro.props;
---

<Default title={title} lang="he">
  <header>
    <h1>{title}</h1>
    {time && <time>{time}</time>}
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <p>
      באהבה,
      <a href="/">דן</a>
    </p>
  </footer>
</Default>

<style is:global>
  body {
    line-height: 1.4;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    justify-self: center;
    max-width: calc(100% - 4rem);
    width: 700px;

    h1 {
      text-align: center;
      font-size: min(4rem, 10vw);
      margin: 0;
      display: inline;
    }

    time {
      align-self: end;
    }
  }
</style>
